
/* W3.CSS 4.03 Mar 2017 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0;}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.w3-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.w3-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}

.w3-grey,.w3-hover-grey:hover,.w3-gray,.w3-hover-gray:hover{color:#000!important;background-color:#bbb!important}
.w3-light-grey,.w3-hover-light-grey:hover,.w3-light-gray,.w3-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.w3-dark-grey,.w3-hover-dark-grey:hover,.w3-dark-gray,.w3-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.w3-pale-red,.w3-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.w3-pale-green,.w3-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.w3-pale-yellow,.w3-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}

.w3-black,.w3-hover-black:hover{color:#fff!important;background-color:#000!important}

.entrylist-holder {
	background-color: rgba(1, 64, 100, .3);
	cursor: pointer;
	font-size:100%;
	margin-top: 5px;
	margin-bottom: 5px;
	text-align : center;
	border-radius: 0 0 20px 0;
}

::-webkit-input-placeholder { 
	color : rgba(0, 0, 0, 0.5);
}

textarea {
	color : rgba(0, 0, 0, 0.5);
}

.userinfo {
	font-family: serif; 
	font-size: 14px; 
	font-style:italic;
	padding: 10px;
}

.scrollable {

}

.allentries-holder {
	background-image: linear-gradient(to right, #999, #666);
	overflow: auto;
	max-height: 500px;
	min-height: 300px;
	text-align: center;
}

.chosenentries-holder {
	background-image: linear-gradient(to right, #ccc, #666);
	overflow: auto;
	max-height: 400px;
	min-height: 200px;
	text-align: center;
}

.entry-creator {
	background-color: gray;
}

.entrylogo {
	width: 50px;
}

.rounded{
	border-radius: 10px;
}

.entries-chosen {
	border-top: 1px gray solid;
	padding: 3px;
}

.entries-chosen-alt {
	background-color: gray;
	width: 175px;
}

.entries-chosen-alt:nth-child(2n) {
	margin-left: 175px;
}

.entries-chosen-alt:nth-child(4n) {
	margin-left: 350px;
}

.entries-chosen-alt:nth-child(8n) {
	margin-left: 525px;
}

.header-create {
	background-color: gray;
	color: white;
	text-align: center;
}

.existingentries {
	margin-top: 20px;
	background-color: #dde4e9;
}

.entrylist-holder:hover {
	background-color: white;
}

.other-entry {
	color: white;
}

.title-creation-box {
	margin-top: 30px;
	background-color: #e2f0fb;
	border-radius: 10px;
	width: 100%;
	padding: 20px;
}

.userhint {
	font-weight: bold;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

input[type="text"], textarea {
	width: 85%;
	border: solid 1px #707070;
	border-radius: 10px;
  	box-shadow: 0 0 5px 1px #969696;
}

input[type="text"]:focus, textarea:focus {
	border: solid 3px #969696;
}



.step1 {
	font-weight : bold; 
	border-radius: 15px 50px 30px 5px; 
	width: 50px;
	text-align: center;
	background-color: green;
}

a{background-color:transparent;-webkit-text-decoration-skip:objects}

.next{
	border-radius: 10px;
	margin-top: 10px;
}

.my-button {
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	padding: 5px;
	font-family: Verdana;
}
