/* CSS declarations go here */


.entry-storer {
	border-radius: 25px;
	background-color: #D3D3D3;
	border: 3px black solid;
}


.round-column:nth-child(2n + 1) {
	border-right: 3px black solid;
}

.bracket-horz {
	border: 0;
    height: 4px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.bracket-item {
	height: 200px;
	display: inline-block;
}