/* CSS declarations go here */

body {
  background-image : url("http://i.imgur.com/A2rqm.png");
}

.logo_wrap {
  font-weight: bold;
  color : white;
  font-size: 20px;
  margin:20px;
  border-bottom: 2px white solid;
  border-top: 2px white solid;
  font-family: Gothem;
}

.logo {
  color : white;
  width: 50%;
  height: 100px;
  border: 1px solid #999999;
  padding : 10px;
  border-radius: 50%;
  background-image: linear-gradient(to right, #825201, #b6964c);
}

.entry-storer {
	border-radius: 25px;
  cursor: pointer;
}

.entryimage{
  width:100%;
  margin-top: 5px;
}

.entry-title {
  margin-bottom: 0px;
  padding-left: 20px;
  padding-top: 0px;
  cursor: pointer;
  pointer-events : none;
}

.entry-style {
  font-size : 100%;
  vertical-align: baseline;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  pointer-events : none;
}

.seed-entry{
  margin: 0px; 
  color: white;
  cursor: pointer;
  pointer-events: none;
}

.num-votes-style{
  font-family:sans-serif; 
  margin-top: 0px; 
  font-size:10px;
  font-weight: bold;
}

.winner {
  background-image: url("http://makolaholding.co.za/assets/images/flags/Flags_BlueStyle3_1024x1024.jpg");
  min-height : 200px;
  font-size:36px;
  font-family: Georgia;
}

.bracket-container {
	border: 3px black solid;
	border-radius: 10px;
	margin-top: 25px;
  background-color: white;
}

.bracket-title {
  text-align: center;
  padding : 5px;
}

.bracket_entry {
  margin-left : 20px;
  margin-right : 20px;
  padding: 3px;
  background-color: gray;
  border-radius: 25px;
  font-size : 100%;
  font-family : Tahoma;
}

body,
html {
  height: 100%;
  overflow-x: hidden;
}
/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled {
  padding-left: 250px;
}
#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 250px;
  width: 0;
  height: 100%;
  margin-left: -250px;
  overflow-x: hidden;
  background: #000;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
#wrapper.toggled #sidebar-wrapper {
  width: 250px;
}
#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}
#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -250px;
}
/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}
.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}
.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}
.sidebar-nav > .sidebar-brand a {
  color: #999999;
}
.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}
@media(min-width:768px) {
  #wrapper {
    padding-left: 250px;
  }
  #wrapper.toggled {
    padding-left: 0;
  }
  #sidebar-wrapper {
    width: 250px;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.entry-container {
  list-style-type: none;
  width: 175px;
}

.entry-container:nth-child(2n + 1) {
  margin-left: 175px;
}

.entry-container:nth-child(4n + 1) {
  margin-left: 350px;
}

.entry-container:nth-child(8n + 1) {
  margin-left: 525px;
}

.entry-container-alt {
  list-style-type: none;
  border-radius: 10px;
  width: 175px;
}

.entry-container-alt:nth-child(2n + 1) {
  margin-left: 175px;
}

.entry-container-alt:nth-child(4n + 1) {
  margin-left: 350px;
}

.entry-container-alt:nth-child(8n + 1) {
  margin-left: 525px;
}